<div class="app-card-container">
    <div class="card">
        <h1 class="mb-5">About me</h1>

<hr>

<div class="row about-text">
    <div class="col-md-8">
        <%= image_tag "fennec.jpg", width: "100%", alt: "profile"%>
    </div>
    <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Maiores suscipit cumque autem corporis asperiores ipsam quia vitae blanditiis facere quis, 
        sint hic obcaecati nesciunt quae doloremque sunt, dolor commodi consequuntur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Maiores suscipit cumque autem corporis asperiores ipsam quia vitae blanditiis facere quis, 
        sint hic obcaecati nesciunt quae doloremque sunt, dolor commodi consequuntur.</p>
    </div>
</div>
    </div>
</div>

