<main role="main" class="inner cover">
    <h1 class="cover-heading">Homepage</h1>
    <p class="lead">Bonjour et bienvenue sur mon portfolio personnel, explorez le site web et apprenez en plus sur moi et mon travail, ce site a été codé entièrement en ruby on rails.</p>
    <p class="lead">
    <%= link_to "Learn more", about_path , class: 'btn btn-lg btn-secondary'%>
    </p>
</main>


    

